.agency-container{
  background: #efeff4;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.switch-box {
  padding: 0 0.22rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 0.35rem;
}

.switch-box .switch-button-item {
  background-color: #ffffff;
  box-shadow: 0 0.04rem 0.07rem 0.01rem rgba(0, 0, 0, 0.12);
  border-radius: 0 0.1rem 0.1rem 0;
  width: 50%;
  color: #666666;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.25rem;
}

.switch-box .switch-button-item:first-of-type {
  border-radius: 0.1rem 0 0 0.1rem;
}

.switch-box .switch-button-item.selected {
  background-color: #1bbf8e;
  box-shadow: 0 0.04rem 0.07rem 0.01rem rgba(27, 191, 142, 0.34);
  color: #FFF;
}

.item-bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.51rem;
  border-top: 0.01rem solid #999999;
  font-size: 0.18rem;
  color: #666666;
}

.centerDiv {
  background-color: #ffffff;
  border-radius: 0.1rem;
  margin: 0.8rem 0.22rem 0 0.22rem;
  padding: 0.5rem 0.35rem 0.5rem 0.35rem;
  box-sizing: border-box;
}

input.input_phone {
  color: #333333;
  font-size: 0.2rem;
  margin-top: 0.1rem;
  padding-left: -0.3rem;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #CCCCCC;
}

input.input_code {
  width: 3.5rem;
  color: #333333;
  font-size: 0.2rem;
  margin-top: 0.1rem;
  padding-left: -0.3rem;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #CCCCCC;
}

.getCode {
  background: #1bbf8e;
  border: 0;
  color: #ffffff;
  height: 0.75rem;
  padding: 0 0.35rem 0 0.35rem;
  margin: 0.15rem 0 0 0.34rem;
}

.completeBt {
  background: #1bbf8d;
  color: #ffffff;
  width: 5rem;
  height: 0.8rem;
  letter-spacing: 0.1rem;
  border-radius: 0.1rem;
  border: 0;
}
