.plate-list {
				width: 95%;
				height: 2rem;
				background-color: #ffffff;
				box-shadow: 0 0.1rem 0.3rem 0 rgba(50, 50, 50, 0.2);
				border-radius: 0.1rem;
				margin: 0.2rem 0.2rem 0 0.2rem;
			}
			
			.people_photo {
				float: left;
				margin: 0.1rem;
			}
			
			.shop_list {
				width: 3.3rem;
				color: #666666;
				font-size: 0.28rem;
				overflow: hidden;
        line-height: 1.7;
				text-overflow: ellipsis;
				white-space: nowrap;

			}
			
			.nopass {
        width: 1.5rem;
        position: absolute;
        right: 1.1rem;
        color: #666666;
        font-size: 0.2rem;
        display: inline-block;
        letter-spacing: 0.05rem;
			}
			
			.update_shop {
        position: absolute;
        right: 0.6rem;
        height: 0.32rem;
        text-align: center;
        line-height: 0.32rem;
        color: #ffffff;
        margin-top: 0.02rem;
        font-size: 0.2rem;
        background-color: #1bbf8e;
        border-radius: 0.05rem;
        letter-spacing: 0.05rem;
        padding: 0 0.2rem 0 0.2rem;
				
			}
			
			.shop_detail {
				position: relative;
				top: 0rem;
				width: 4.6rem;
				height: 0.28rem;
				line-height: 0.316rem;
				color: #999999;
				font-size: 0.26rem;
				word-break: break-all;
				text-overflow: ellipsis;
				display: -webkit-box;
				/** 对象作为伸缩盒子模型显示 **/
				-webkit-box-orient: vertical;
				/** 设置或检索伸缩盒对象的子元素的排列方式 **/
				-webkit-line-clamp: 1;
				/** 显示的行数 **/
				overflow: hidden;
				/** 隐藏超出的内容 **/
			}
			
			.head_img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        margin: 0.18rem 0.2rem 0 0.2rem;
			}
			
			.shop_title {
				font-size: 0.32rem;
				color: #010101;
				
			}
			
			.shop_detailall {
				padding-top: 0.2rem;
				float: left;
				color: #666666;
			}
			

      .switch-box {
        padding: 0 0.22rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 0.15rem;
        margin-bottom: 0.4rem;
      }

      .switch-box .switch-button-item {
        background-color: #ffffff;
        box-shadow: 0 0.04rem 0.07rem 0.01rem rgba(0, 0, 0, 0.12);
        border-radius: 0 0.1rem 0.1rem 0;
        width: 50%;
        color: #666666;
        text-align: center;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.25rem;
      }

      .switch-box .switch-button-item:first-of-type {
        border-radius: 0.1rem 0 0 0.1rem;
      }

      .switch-box .switch-button-item.selected {
        background-color: #1bbf8e;
        box-shadow: 0 0.04rem 0.07rem 0.01rem rgba(27, 191, 142, 0.34);
        color: #FFF;
      }

      .item-bottom-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 0.51rem;
        border-top: 0.01rem solid #999999;
        font-size: 0.18rem;
        color: #666666;
      }
.top-box {
  margin-top: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.22rem;
  box-sizing: border-box;
}

.top-box .top-box-item {
  color: #999999;
  font-size: 0.28rem;
  padding-bottom: 0.15rem;
  border-bottom: 0.04rem solid transparent;
  width: 18%;
  text-align: center;
}

.top-box .top-box-item.selected {
  border-bottom: 0.04rem solid #1bbf8e;
  color: #1bbf8e;
}
.selectDiv{
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: space-around;
}
input.select-condition{
  height: 0.3rem;
  width: 5rem;
  border-radius: 0.1rem;
  font-size: 0.1rem;
}
.selectBtn{
  height: 0.45rem;
  line-height: 0.18rem;
  background: #1bbf8e;
  color: #ffffff;
  border: 0;
  font-size: 0.2rem;
  letter-spacing: 0.08rem;
}
.shop-dj {
  font-size: 0.16rem;
  color: gray;
}
.shop_name {
  font-size: 0.16rem;
  color: gray;
}
.shopUser,.contact-phone{
  font-size: 0.2rem;
  color: #000;
}
.top-box {
  margin-top: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.22rem;
  box-sizing: border-box;
}

.top-box .top-box-item {
  color: #999999;
  font-size: 0.28rem;
  padding-bottom: 0.15rem;
  border-bottom: 0.04rem solid transparent;
  width: 18%;
  text-align: center;
}

.top-box .top-box-item.selected {
  border-bottom: 0.04rem solid #1bbf8e;
  color: #1bbf8e;
}
.selectDiv{
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: space-around;
}
input.select-condition{
  height: 0.3rem;
  width: 5rem;
  border-radius: 0.1rem;
  font-size: 0.1rem;
}
.selectBtn{
  height: 0.45rem;
  line-height: 0.18rem;
  background: #1bbf8e;
  color: #ffffff;
  border: 0;
  font-size: 0.2rem;
  letter-spacing: 0.08rem;
}
.shop-dj {
  font-size: 0.16rem;
  color: gray;
}
.shop_name {
  font-size: 0.16rem;
  color: gray;
}
.shopUser,.contact-phone{
  font-size: 0.2rem;
  color: #000;
}
