.Behave{
  font-size: 0.24rem;
  color: #cccccc;
  position: relative;
  top: -1.7rem;
  left: 5.1rem;
}
.app-container{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.yuan {
  position: relative;
  top: -3.4rem;
  left: 5.4rem;
  width: 4rem;
  height: 4rem;
  background-color: #1cb969;
  border-radius: 4rem;
  border: 0.4rem solid #a4e6c5;
}

.sureBt {
  font-size: 0.44rem;
  width: 6.1rem;
  height: 1rem;
  background-color: #1cb969;
  border-radius: 0.51rem;
  color: #ffffff;
  letter-spacing: 0.22rem;
  border: 0;
}

.firstlogin_t {
  position: relative;
  top: 0.8rem;
  left: 0.5rem;
  font-family: PingFangSC-Semibold;
  color: #333333;
  font-size: 0.64rem;
}

.pavetext {
  color: #333333;
  font-size: 0.6rem;
}

.pavetext1 {
  color: #999999;
}

.shopPhoto {
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 1.5rem;
  display: inline-block;
  margin: 0.26rem 0 0 0.2rem;
}

.content_list {
  position: relative;
  top: -2.9rem;
  width: 92%;
  height: 2rem;
  left: 4%;
  margin-bottom: 0.2rem;
  border-radius: 0.15rem;
  box-shadow: -0.02rem 0 0.15rem 0 rgba(0, 0, 0, 0.1);
}

.rightDiv {
  position: absolute;
  top: 0.3rem;
  left: 1.8rem;
  line-height: 0.5rem;
}
.shopName{
  font-size: 0.32rem;color: #010101;
}
.deviceDiv,.deviceAdress{
  font-size: 0.2rem;
  color: #999999;
  text-overflow: ellipsis;
  width: 4.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
